@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.lg-react-element {
  /* display: flex;
  gap: 20px; */
}

/* .pswp__bg{
  background-color: white !important;
} */

.lg-content {
  width: 70%;
}

.lg-components {
  width: 30%;
  top: 15%;
  left: unset !important;
  right: 0;
}

.lg-sub-html {
  text-align: left !important;
  color: black;
}

.lg-img-wrap {
  width: 80% !important;
  margin: auto;
}

.lg-backdrop {
  background-color: white !important;
}

.pswp__content {
  width: 100vw !important;
}

.inline-gallery-container {
  width: 100%;
  /* height: 0; */
  padding-bottom: 65%;
}

.pswp__default-caption {
  display: flex;
  flex-direction: column;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -5%; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 5%; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 80px;
}

.my-masonry-grid_column > div > img {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 16px;
}

@media screen and (max-width: 600px) {
  .lg-components {
    bottom: 80px;
    width: 100%;
    top: unset !important;
    /* left: unset !important; */
    left: 10% !important;
  }

  .lg-content {
    width: 100%;
  }

  .lg-sub-html {
    padding: 0 !important;
  }
}

/* .lg-content {
  display: block !important;
  position: static !important;
  width: 100%;
}

.lg-sub-html {
  width: 100% !important;
}

.lg-outer {
  display: flex !important;
  flex-direction: column;
}

.lg-img-wrap {
  display: block !important;
  position: static !important;
} */
